<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <p>Created by Anil Kumar. Copyright &copy;{{getCurrentYear}}.
                <span class="grey-text text-lighten-4 right">All rights reserved.</span>
            </p> 
        </div>
    </div>
</footer>